 p {
     background-color: #eee;
     margin: 15px auto;
     width: 300px;
     padding: 15px;
     border-right: 4px solid #f44336;
     position: relative;
     counter-increment: counter
 }

 p::after {
     content: counter(counter);
     background-color: #f44336;
     color: white;
     width: 49px;
     height: 33px;
     text-align: center;
     padding-top: 15px;
     display: inline-block;
     position: absolute;
     top: 0;
     left: -49px;
 }