* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
     height: 100vh;

}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-position {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);

}

.circle-100 {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aquamarine;
}

.circle-200 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.arrow {
    width: 300px;
    height: 80px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px;
}

.top::after {
    content: "";
    border: 20px solid #eee;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -40px;
}

.right::after {
    content: "";
    border: 20px solid #eee;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: -40px;
}

.bottom:after {
    content: "";
    border: 20px solid #eee;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    position: absolute;
    bottom: -40px;
}

.left:after {
    content: "";
    border: 20px solid #eee;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    left: -40px;
}
