* {
    box-sizing: border-box;
}

.assgin1 div {
    width: 100px;
    height: 100px;
    background-color: #eee;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    float: left;
    border: 3px solid black;
    box-shadow: -4px -6px 0 #e91e63, 4px 6px 0 #2196f3;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    counter-increment: counter;
}

.assgin1 div::after {
    content: counter(counter);
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    position: absolute;
    top: -15px;
    left: 30px;
}

.assgin1 div::before {
    content: "Element";
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 90px;
}

.clear {
    clear: both;
}

.assgin2 div {
    width: 100px;
    height: 100px;
    background-color: #efefef;
    margin: 30px auto;
    border-top-left-radius: 10px 20px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 10px 20px;
    border-bottom-left-radius: 50%;
    box-shadow: inset 0 0 8px 0px black;
}

.assgin3 {
    margin: 10px auto;
    width: 550px;
    text-transform: capitalize;
    position: relative;
    font-weight: bolder;

}

.assgin3 .free {
    background-color: #eeeeee;
    padding: 15px;
    margin: 15px;
    float: left;
    width: 230px;
    text-align: center;
}

.assgin3 .pro {
    float: left;
    background-color: #eeeeee;
    padding: 15px;
    margin: 15px auto;
    width: 230px;
    text-align: center;
    position: relative;
    right: -45px;

}

.assgin3 .free .p-1,
.assgin3 .pro .p-3 {
    color: white;
    padding: 11px;
    border-radius: 8px;
    background-color: #03a9f4;
}

.assgin3 .free .p-2,
.assgin3 .pro .p-4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #dddddd;
    line-height: 200px;

}

.assgin3 .free::before {
    content: "";
    border: 1px solid #03a9f4;
    height: 90%;
    position: absolute;
    top: 15px;
    right: 50%;
    display: inline-block;
}

.assgin3 .pro::after {
    content: "or";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #03a9f4;
    color: white;
    border-radius: 50%;
    line-height: 30px;
    position: absolute;
    top: 50%;
    right: 107%;
}