* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Alkalami', serif;
}

form {
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 40px;
    width: 100%;
    margin: 15px;
    gap: 10px;
}

div {
    height: 50px;
    margin: 5px 0;
    width: 100%;
}

input {
    display: block;
    position: relative;
    left: -5px;
    margin-top: 1px;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #d2d2d2;
}

label {
    display: block;
}

form div:nth-child(2) {
    order: 3;

}

form div:nth-child(3) {
    order: 5;
}

form div:nth-child(4) {
    order: 2;
}

form div:nth-child(5) {
    order: 5;
    grid-area: 2/ 2/ 2/2;
}

form div:nth-child(6) {
    order: 7;
    grid-area: 4/ 1/ 4/2;

}

textarea {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #d2d2d2;
}

span {
    color: red;
    font-size: 18px;
    font-family: auto;
}

button {
    text-align: center;
    width: 203%;
    position: relative;
    left: -3px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    background-color: #009688;
    color: white;
    padding: 10px;
}